InstaBot.py
Operacoes
dados.txt
servidor/
simulador-de-dados.py
Churn.csv
tempo.csv
DataMining/
Estatistica/
Estatistica2/
Grafos/
JupyterNotebook/
MachineLearning/
MachineLearning2/
Neural Networks e Deep Learning/
Py1/
PythonAvancadoLKD/
.ipynb_checkpoints/
RegressaoLinear/
RegressaoLogistica/
slides/
SeriesTemporais/